    *{
      margin: 0;
      padding: 0;
    }
      body{
        justify-content: ccenter;
        align-items: center;
        background-color: aqua;
        text-align: center;
      }
      
      .box{
        font-family: Times New Roman;
        font-size: 0.88em;
        font-style: italic;
        border: 2px solid black;
        padding: 1em;
        margin: 1em;
      }
      
      button{
        padding: 0.5em;
        border-radius: 0.4em;
        border: 1px solid yellow;
        background-color: yellow;
        font-weight: bold;
      }